/* ==============================================================================
Table of Contents 
 ===============================================================================*/
/* 
1 - left Section 
2 - Right Section (Animation)

*/
/* ==============================================================================
1 - left Section 
 ===============================================================================*/
section.hero{
  justify-content: space-around;
}
 .hero-app {
  margin: 0 auto;
  width: 80%;
}
.hero-bg {
  padding: 2rem 4rem;
  margin: 0 auto;
  background: var(--hero-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}
section.hero .left-section {
  flex-grow: 1;
}
section.hero .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}
section.hero .parent-avatar {
  width: 130px;
  height: 130px;
  border: 1px solid var(--yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--icon-glow);
  background: rgb(15, 15, 15);
}
section.hero h1.title {
  font-size: 2rem;
  line-height: 3.2rem;
  margin: 1rem 0 1rem 0;
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 135%;
  font-weight: bold;
}
section.hero p.sub-title {
  color: var(--text-secondary);
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  width: 135%;

}
section.hero .all-icons {
  font-size: 1.6rem;
  gap: 1rem;
}
section.hero .all-icons .icon {
  border-radius: 50%;
  box-shadow: var(--icon-glow);
  border: 0.3px solid #f5cc5c76;
  color: var(--text-primary);
  cursor: pointer;
}
section.hero .all-icons .icon:hover {
  color: var(--title);
  border: 0.3px solid #f5cc5c;
  box-shadow: var(--icon-glow-hover);
  transition: all 0.5s;
}

@media (max-width: 1000px) {
  .hero-app {
    width: 90%;
  }
  section.hero .left-section .title {
    font-size: 1.6rem;
  }
  section.hero .left-section p.sub-title {
    font-size: .8rem;
    margin-bottom: .8rem;
  }
  section.hero{
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
   section.hero h1.title,
section.hero p.sub-title{
  width: 100% !important;
}
.right-section.animation{
  margin-right: 14rem !important; 
}
}
@media (max-width: 1200px) {
  section.hero h1.title,
section.hero p.sub-title{
  width: 180%;
}


}
/* @media (max-width: 700px) {
  .hero-app {
    height: 100vh;
  }
  section.hero .left-section .title {
    font-size: 1.6rem;
  }
  section.hero .left-section p.sub-title {
    font-size: .8rem;
    margin-bottom: .8rem;
  }
} */
@media (max-width: 500px) {
  .container {
    width: 98%;
    padding: 0.5rem 1rem;
  }
  section.hero h1.title{
    font-size: 1rem;
  }
}

/* ==============================================================================
2 - Right Section (Animation)
 ===============================================================================*/
.right-section.animation{
  translate: 8rem 2rem;
}